<!DOCTYPE html>
<html lang="en">
<partial name="Partial/_HeadPartial" />
<body>
    <div class="hold-transition sidebar-mini layout-navbar-fixed">
        <!-- Site wrapper -->
        <div class="wrapper">
            <partial name="Partial/_NavPartial" />
            <partial name="Partial/_SidebarPartial" />
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">

                                @RenderBody()

                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <partial name="Partial/_FooterPartial" />
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
        <!-- ./wrapper -->
    </div>
    <partial name="Partial/_ModalsPartial" />
    <partial name="Partial/_ScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>