<head>
	<!-- Basic -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="WebSite Template" />
	<meta name="description" content="Porto - Multipurpose Website Template">
	<meta name="author" content="okler.net">
    <title>@ViewData["Title"] - PLMS.Web</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/vendor/img/favicon.ico" type="image/x-icon" /><!--ok-->
	<link rel="apple-touch-icon" href="~/vendor/img/apple-touch-icon.png"><!--ok-->
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /><!--ok-->
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" /><!--ok-->

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="~/vendor/animate/animate.compat.css"><!--ok-->
	<link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css"><!--ok-->
	<link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css"><!--ok-->
	<link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css"><!--ok-->
	<link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css"><!--ok-->
	<!-- Theme CSS -->
	<link rel="stylesheet" href="~/vendor/css/theme.css"><!--ok-->
	<link rel="stylesheet" href="~/vendor/css/theme-elements.css"><!--ok-->
	<link rel="stylesheet" href="~/vendor/css/theme-blog.css"><!--ok-->
	<link rel="stylesheet" href="~/vendor/css/theme-shop.css"><!--ok-->
	<link href="~/lib/virtual-select/css/virtual-select.css" rel="stylesheet" /><!--ok-->
	<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" /><!--ok-->
	<!-- Revolution Slider CSS -->
	<link rel="stylesheet" href="~/vendor/css/settings.css"><!--ok-->
	<link rel="stylesheet" href="~/vendor/css/layers.css"><!--ok-->
	<link rel="stylesheet" href="~/vendor/css/navigation.css"><!--ok-->

	<!-- Skin CSS -->
	<link id="skinCSS" rel="stylesheet" href="~/vendor/css/skin-corporate-11.css"><!--ok-->

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="~/vendor/css/custom.css"><!--ok-->



	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /><!--ok-->
	<link rel="stylesheet" href="~/PLMS.Web.styles.css" asp-append-version="true" /><!--ok-->


	<!-- Head Libs -->
	<script asp-append-version="true" src="~/vendor/modernizr/modernizr.min.js"></script><!--ok-->
</head>