<head>
	<!-- Basic -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="WebSite Template" />
	<meta name="description" content="Porto - Multipurpose Website Template">
	<meta name="author" content="okler.net">
    <title>@ViewData["Title"] - PLMS.Web</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="~/vendor/img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="~/vendor/img/apple-touch-icon.png">
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="~/vendor/vendor/animate/animate.compat.css">
	<link rel="stylesheet" href="~/vendor/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="~/vendor/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="~/vendor/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/vendor/vendor/magnific-popup/magnific-popup.min.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="~/vendor/css/theme.css">
	<link rel="stylesheet" href="~/vendor/css/theme-elements.css">
	<link rel="stylesheet" href="~/vendor/css/theme-blog.css">
	<link rel="stylesheet" href="~/vendor/css/theme-shop.css">
    <link href="~/lib/virtual-select/css/virtual-select.css" rel="stylesheet" />
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
	<!-- Revolution Slider CSS -->
	<link rel="stylesheet" href="~/vendor/vendor/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="~/vendor/vendor/rs-plugin/css/layers.css">
	<link rel="stylesheet" href="~/vendor/vendor/rs-plugin/css/navigation.css">

	<!-- Skin CSS -->
	<link id="skinCSS" rel="stylesheet" href="~/vendor/css/skins/skin-corporate-11.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="~/vendor/css/custom.css">

	

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PLMS.Web.styles.css" asp-append-version="true" />


	<!-- Head Libs -->
	<script asp-append-version="true" src="~/vendor/vendor/modernizr/modernizr.min.js"></script>
</head>