<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="PLMS Web App">
    <title>@ViewData["Title"] - PLMS.Web</title>


    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!--Bootstrap-->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" rel="stylesheet" />
	<!--Font Awesome-->
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

	<!--Adminlte-->
	<link href="~/adminlte/adminlte.css" rel="stylesheet"/>
	<!--toastr-->
	<link href="~/adminlte/toastr/toastr.css" rel="stylesheet" />
	<!--icheck-bootstrap-->
	<link href="~/adminlte/icheck/icheck-bootstrap.css" rel="stylesheet" />

    <!--Datatables-bootstrap-->
    <link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/buttons-2.4.2/css/buttons.bootstrap5.css" rel="stylesheet" />
    <link href="~/lib/datatables/colreorder-1.7.0/css/colreorder.bootstrap5.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/datatables.bootstrap5.css" rel="stylesheet" />
    <link href="~/lib/datatables/fixedheader-3.4.0/css/fixedheader.bootstrap5.css" rel="stylesheet" />
    <link href="~/lib/datatables/responsive-2.5.0/css/responsive.bootstrap5.css" rel="stylesheet" />
    <link href="~/lib/datatables/rowreorder-1.4.1/css/rowreorder.bootstrap5.css" rel="stylesheet" />
    <link href="~/lib/datatables/scroller-2.2.0/css/scroller.bootstrap5.css" rel="stylesheet" />
    <link href="~/lib/datatables/searchbuilder-1.6.0/css/searchbuilder.bootstrap5.css" rel="stylesheet" />
    <link href="~/lib/datatables/searchpanes-2.2.0/css/searchpanes.bootstrap5.css" rel="stylesheet" />





	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


</head>