<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="PLMS Web App">
    <title>@ViewData["Title"] - PLMS.Web</title>


	
	<!--Bootstrap-->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<!--Font Awesome-->
	<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />

	<!--Adminlte-->
	<link href="adminlte/adminlte.css" rel="stylesheet"/>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


</head>