@{
    ViewData["Title"] = "Homepage";
}

<table class="dataTableJS table table-bordered table-striped table-hover w-100">
    <thead class="bg-secondary">
        <tr>
            <th>Datatable deneme</th>
            <th>Datatable deneme</th>
            <th>Datatable deneme</th>
            <th>Datatable deneme</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Datatable denenme</td>
            <td>Datatable denenme</td>
            <td>Datatable denenme</td>
            <td>Datatable denenme</td>
        </tr>
    </tbody>

</table>