@{
    ViewData["Title"] = "Homepage";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title" style="font-size:24px">
            <a asp-action="Index" asp-controller="Home"><i class="fas fa-chevron-circle-left bg-dark border border-secondary text-white" style="border-radius:50px"></i></a>
            Planlama | Order Gruplama
        </h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        Buralar hep tarla işte
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        Footer
    </div>
    <!-- /.card-footer-->
</div>
@section Scripts{
    <script type="text/javascript">
        $(() => {
            $(document).Toasts('create', {
                class: 'bg-danger opacity-75', // 'bg-success' sınıfı, yeşil arka plan rengi ile başarılı bir toast temsil eder
                title: 'Başarılı',
                body: `Başarının gözünü sevem`,
                autohide: true,
                delay: 10000,
                fade: true,
                close:true
            });

        });
    </script>
}
