@model List<AuthIdentityRole>
@{
    ViewData["Title"] = "Roles";
}

@if (Model.Count > 0)
{
    <table class="table table-bordered">
        <thead class="bg-secondary">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (AuthIdentityRole role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td class="text-center">
                        <form class="d-inline" asp-area="Admin" asp-controller="Role" asp-action="RoleModify" asp-route-id="@role.Id">
                            <button type="submit" class="btn"><i class="fa-solid fa-pencil text-info"></i></button>
                        </form>
                        <form class="d-inline" asp-area="Admin" asp-controller="Role" asp-action="RoleDelete" asp-route-id="@role.Id">
                            <button type="submit" class="btn"><i class="fa-solid fa-trash text-danger"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger" role="alert">
        Careful.. No roles here ?
    </div>
}