@model AuthIdentityRoleDto
@{
    ViewData["Title"] = "Role Add";
}
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-5 col-lg-7 col-md-9 col-12">
            <div class="card text-black" style="border-radius: 25px; border-top:#0d6efd 5px solid;">
                <div class="card-body p-5">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <img src="~/Logo/PLMSLogo.svg" alt="" style="height:100px; width:100px; position:absolute" class="brand-image img-circle elevation-3 float-right d-inline">
                            <p class="text-center h2 fw-bold mb-5 mx-4 mt-4">Role Add</p>

                            <form style="width:100%;" class="mx-4 px-5" asp-area="Admin" asp-controller="Role" asp-action="RoleAdd" method="post">

                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-hat-cowboy"></i></span>
                                    <div class="form-floating">
                                        <input asp-for="Name" type="text" class="form-control" id="RoleAddInput" placeholder="Role Name">
                                        <label for="RoleAddInput">Name</label>
                                    </div>
                                    <span class="text-danger" asp-validation-for="Name"></span>
                                </div>
                                <div class="input-group mb-3 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary rounded btn-lg">Add Role</button>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>