@model AuthIdentityUserRegisterDto;
@{
    Layout = null;
    ViewData["Title"] = "Index";
}
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-12">

                            <p class="text-center h2 fw-bold mx-1 mb-5 mx-md-4">Register</p>

                            <form class="mx-1 mx-md-4" asp-area="Account" asp-controller="Account" asp-action="Register" method="post">
                                <div class="form-floating mb-3">
                                    <input asp-for="Name" type="text" class="form-control" id="registerNameInput" placeholder="Name">
                                    <label for="registerNameInput">Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="SurName" type="text" class="form-control" id="registerSurnameInput" placeholder="Surname">
                                    <label for="registerSurnameInput">Surname</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Email" type="email" class="form-control" id="registerEmailInput" placeholder="name@example.com">
                                    <label for="registerEmailInput">Email address</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Password" type="password" class="form-control" id="registerPasswordInput" placeholder="Password">
                                    <label for="registerPasswordInput">Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="PasswordMatch" type="password" class="form-control" id="registerPasswordMatchInput" placeholder="Password">
                                    <label for="registerPasswordMatchInput">Password Again</label>
                                </div>

                                <div class="d-flex justify-content-center mx-4 mt-3">
                                    <button type="button" class="btn btn-primary btn-lg">Register</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
